" Plug 'https://github.com/python-mode/python-mode' { 'for': 'python' }

" source ~/.vimrc

Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'

set sneak
set quickscope
set NERDTree

set clipboard=unnamedplus

let mapleader = " "

" When jumping lines, add them to the jumplist
nnoremap <expr> j (v:count <= 1 ? 'j' : "m'" . v:count . 'j')
nnoremap <expr> k (v:count <= 1 ? 'k' : "m'" . v:count . 'k')
xnoremap <expr> j (v:count <= 1 ? 'j' : "m'" . v:count . 'j')
xnoremap <expr> k (v:count <= 1 ? 'k' : "m'" . v:count . 'k')
nnoremap <C-d> m'<C-d>zz
nnoremap <C-u> m'<C-u>zz

" Don't override register on paste
xnoremap <leader>p "_dP

""""""""""""""""""""""""""""""""""""""""""""""""""""
" Common settings
set scrolloff=5
set incsearch

""""""""""""""""""""""""""""""""""""""""""""""""""""
" IDEA specific settings
set ideajoin  " Language-specific line join


""""""""""""""""""""""""""""""""""""""""""""""""""""
" IDEA specific bindings
nmap <leader>? :action GotoAction<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>

" code navigation

" https://youtrack.jetbrains.com/issue/VIM-44
" nnoremap <c-o> :action Back<cr>
" nnoremap <c-i> :action Forward<cr>

" nmap <leader>e :action GotoFile<CR>
nmap <leader>a :action FindInPath<CR>
nmap <leader>ff :action RecentFiles<CR>
nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gd :action VimGotoDeclaration<CR>
nmap gs :action GotoSuperMethod<CR>
map gc :action CommentByLineComment<CR>

nmap <leader>lr :action RenameElement<CR>
nmap <leader>lj :action GotoPreviousError<CR>
nmap <leader>lk :action GotoNextError<CR>
nmap <leader>lf :action ReformatCode<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
map gh <Action>(ShowErrorDescription)


nmap <leader>ri :action Inline<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>

nmap <leader>f  :action ReformatCode<CR>

nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>

nmap <leader>bf :action RecentFiles<CR>

" NERDTree
nmap <leader>e :NERDTreeToggle<CR>
