" Plug 'https://github.com/python-mode/python-mode' { 'for': 'python' }

" source ~/.vimrc

set sneak
set quickscope

let mapleader = " "

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Don't override register on paste
xnoremap <leader>p "_dP

""""""""""""""""""""""""""""""""""""""""""""""""""""
" IDEA specific
nmap <leader>? :action GotoAction<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>

" code navigation

" https://youtrack.jetbrains.com/issue/VIM-44
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

nmap <leader>e :action GotoFile<CR>
nmap <leader>a :action FindInPath<CR>
nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
nmap <leader>n :action GotoNextError<CR>
map gh <Action>(ShowErrorDescription)


nmap <leader>ri :action Inline<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>

nmap <leader>f  :action ReformatCode<CR>

nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>

nmap <leader>gr :action Vcs.RollbackChangedLines<CR>


vmap <leader>rc :action CommentByLineComment<CR>
