layout {
  default_tab_template {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  tab name="Quasar" split_direction="vertical" {
    pane size="75%" {
      cwd "~/work/repos/cdh/testing/infra/quasar/execution/csa/"
      command "lvim"
      args "."
    }
    pane size="25%" {
      cwd "~/work/repos/cdh"
    }
  }
  tab name="Smartie" {
    pane {
      cwd "/Users/mczagany/"
      command "lvim"
      args "smartie.txt"
    }
  }
}
